html,
body {
  padding: 0;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: lightblue;
}

a {
  color: inherit;
  text-decoration: none;
  background: rgb(68, 65, 65);
  color: white;
  border: 2px solid rgb(212, 202, 202);
  font-size: 24px;
  padding: 10px;
}

.card{
  background: gray;

}

p{
  font-size:30px
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(99, 97, 97);
  }
}
